@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari and Opera */
.scrollbar-none::-webkit-scrollbar {
    display: none;
}

.scrollbar-none {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}